.Contact {
    width: 100%;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Kumbh Sans;
}

.Contact_top_banner {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: Kumbh Sans;
    font-size: 20px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
    --tw-gradient-from: #5553ff;
    --tw-gradient-to: rgba(169, 0, 253, 0.981);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
}

.Contact_top_banner_title {
    font-size: 50px;
    font-weight: 900;
}
.Contact_top_banner_desc {
    font-weight: 500;
}